<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 이 부분에서 myBatis에 관련된 환경설정을 한다 -->
	<!-- 기본 동작에 대한 환경 설정을 한다. -->
	<settings>
		<!-- 캐쉬 메모리 사용여부 -->
		<setting name="cacheEnabled" value="false" />
		<!-- 일반화 키 사용여부 -->
		<setting name="useGeneratedKeys" value="true" />
		<!-- 기본 질의 실행 방식 -->
		<setting name="defaultExecutorType" value="REUSE" />		
	</settings>
	
	
	<!-- 타입 별칭은 자바 타입에 대한 좀더 짧은 이름이다.
	 오직 XML 설정에서만 사용되며, 타이핑을 줄이기 위해 존재한다.
	 	같은 타입에 두 개 이상의 별칭을 부여해도 된다. 하지만 같은 별칭은 중복되면 안된다.
	 		대소문자 구분가능 -->
	 
	<typeAliases>
		<typeAlias type="java.lang.Integer" alias="int"/>
		<typeAlias type="java.util.HashMap" alias="hMap"/>
		<typeAlias type="com.sound.music.vo.StaticVO" alias="static"/>
	</typeAliases>
	
	<!-- SQL용 xml파일을 만들었으면 그 파일을 사용하기전에 반드시 mappers의 element에
		등록을 해놨는지 반드시 확인해야 한다. -->	
	<mappers>		
		<mapper resource="com/sound/music/sql/NoticeSQL.xml"/>
		<mapper resource="com/sound/music/sql/MusicInfoSQL.xml"/>
		<mapper resource="com/sound/music/sql/StaticSQL.xml"/>
		<mapper resource="com/sound/music/sql/FileBoardSQL.xml"/>
	</mappers>
</configuration>
