<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>	
		<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests~ -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<!-- 해당  DispatcherServlet의 환경설정하는 파일을 지정하는 부분
					 해당  DispatcherServlet마다 환경설정을 다르게 할 수 있다
					 참고	
					 		폴더명이나 파일명도 바꿀 수 있다
					 		단 반드시  WEB-INF 폴더 하위에만 만들어 주면 된다
			-->
			<param-value>/WEB-INF/spring/root-context.xml</param-value>
		</init-param>
		<!-- 이  DispatcherServlet의 우선 순위를 지정하는 부분
				혹시 두 개의 DispatcherServlet이 우선 순위가 필요하다면
				이 부분에 숫자를 이용해서 우선 순위를 조절할 수 있다
		 -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>*.sm</url-pattern>
	</servlet-mapping>
	<!-- 
		위에서 선언한 DispatcherServlet이 어떤 요청을 받을 때 실행할지를 지정하는 부분
		예전에  *.re  방식으로 등록한 부분을 처리하는 개념이다.
	 -->


	<!--  POST 방식의 한글 깨짐 방지  -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- Sitemesh -->
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>
			com.opensymphony.module.sitemesh.filter.PageFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>






